/* Header Styling */
header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #111111;
  padding: 0 40px;
  width: 100%;
  box-sizing: border-box;
  height: 120px;
  gap: 180px;
}

/* Logo and Brand Name Container */
.logo-container {
  display: flex;
  align-items: center;
  gap: 10px; 
  margin-left: 20px; 
  transition: filter 0.3s ease;
}

.logo {
  width: 40px; 
  height: 40px; 
  transition: filter 0.3s ease;
}

.logo img {
  width: 100%;
  height: auto;
  transition: filter 0.3s ease;
}

.logo-container:hover .logo img {
  filter: grayscale(100%) brightness(60%);
}

.logo-container:hover .brand-name {
  color: #777777;
}

/* Brand Name Styling */
.brand-name {
  color: #FFFFFF;
  font-family: 'Playfair Display', serif;
  font-size: 24px;
  text-decoration: none;
  display: inline-block;
  align-self: center;
  transition: color 0.3s ease;
}

/* Search Bar Styling */
.search-bar {
  position: relative;
  display: flex;
  flex: 1;
  max-width: 600px; 
  gap: 10px; 
  margin-left: 10px; 
}

.search-bar input {
  padding: 8px 12px; 
  border: 1px solid #D9D9D9;
  background-color: #D9D9D9;
  color: #111111;
  font-family: 'Poppins', sans-serif;
  border-radius: 5px;
  width: 100%;
  font-size: 14px;
}

.search-bar input::placeholder {
  color: #111111;
  opacity: 1;
}

.search-btn {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  color: #111111;
}

.search-btn i {
  font-size: 20px; 
}

/* CTA Buttons Styling */
.cta-buttons {
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: relative;
  left: -20px;
}

.top-buttons {
  display: flex;
  flex-direction: row;
  gap: 40px;
  align-items: center;
  margin-left: -100px;
  margin-bottom: -20px;
}

.bottom-buttons {
  display: flex;
  flex-direction: row;
  gap: 40px;
  align-items: center;
}

.cta-buttons button {
  background: none;
  border: none;
  display: flex;
  align-items: center; 
  justify-content: center; 
  gap: 8px;
  color: #FFFFFF;
  font-family: 'Poppins', sans-serif;
  cursor: pointer;
  transition: color 0.3s ease;
  padding: 8px 16px; 
}

/* No Design for Linking */
.cta-buttons button a {
  text-decoration: none;
  color: inherit; 
}

/* Hover effect for buttons */
.cta-buttons button:hover {
  color: #777777;
}

/* Top Button Styles */
.top-buttons button {
  font-size: 12px;
  padding: 8px 16px; 
}

.top-buttons button span.material-icons-outlined {
  font-size: 14px; 
  vertical-align: middle; 
}

/* Bottom Button Styles */
.bottom-buttons button {
  font-size: 16px;
  padding: 10px 20px; 
}

.bottom-buttons button span.material-icons-outlined {
  font-size: 20px; 
  vertical-align: middle;
}
