@use '../utils/' as u;

aside {
  width: u.rem(220);
  height: 100vh;
  border-right: u.rem(1) solid #D9D9D9;
  position: relative;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: #fff;
  max-width: u.rem(220);

  @include u.breakpoint-down(small) {
    width: u.rem(100);
    .logo {

      & img {
        width: u.rem(50);
        height: u.rem(50);
        margin-left: 0;
      }

      & span {
        display: none;
      }
    }

    .nav-links{
      & li {
        & a {
          & i {
            font-size: u.rem(16);
            margin: 0 auto;
          }
          & span {
            display: none;
          }
        }
      }
    }

    .logout-container {
      & a {
        & i {
          font-size: u.rem(16);
          margin: 0 auto;
        }
        & span {
          display: none;
        }
      }
    }

    .links {

      & .tools-description {
        font-size: u.rem(14);
      }
    }
  }
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #D9D9D9;
  width: 100%;
  height: u.rem(100);
  
  & img {
    width: u.rem(70);
    height: u.rem(70);
    margin-left: -2rem;
  }

  & span {
    font-size: u.rem(32);
    font-family: u.$playfair-font;
  }
}

.nav-links {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;

  & li {
    width: 90%;
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem;
    margin: 0.25rem 0;
    border-radius: 0.625rem;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: #000;
      & i {
        color: #fff;
      }
      & span {
        color: #fff;
      }
    }
  }

  & a {
    text-decoration: none;
    color: #737373;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 0.75rem;
    width: 100%;
    padding: 0.25rem 0;
    font-size: u.rem(14);

    & i {
      font-size: u.rem(14);
      width: u.rem(20);
      height: u.rem(20);
      display: flex;
      align-items: center;
      justify-content: center;
      flex-shrink: 0;
    }

    & span {
      font-weight: 400;
      line-height: 1.2;
      display: flex;
      align-items: center;
    }

    &:hover {
      color: #333;
    }
  }

  & .active {
    background-color: #000;
    color: #fff;

    & i {
      color: #fff;
    }

    & span {
      color: #fff;
    }
  }
}

.logout-container {
  position: absolute;
  bottom: 0;
  height: 100px;  
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px solid #D9D9D9;
  font-size: u.rem(14);

  & a {
    text-decoration: none;
    color: #737373;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 0.75rem;
    width: 90%;
    padding: 1rem 1rem;
    margin: 0.25rem 0;
    border-radius: 0.625rem;
    transition: background-color 0.3s ease;

    & span {
      font-weight: 400;
      line-height: 1.2;
    }

    & i {
      font-size: u.rem(16);
      width: u.rem(20);
      height: u.rem(20);
      display: flex;
      align-items: center;
      justify-content: center;
      flex-shrink: 0;
    }

    &:hover {
      background-color: #000;
      color: #fff;
      
      & i {
        color: #fff;
      }
      
      & span {
        color: #fff;
      }
    }
  }
}

.tools-description {
  margin-top: u.rem(25);
  font-size: u.rem(14);
  padding: 0 u.rem(5);
  color: #737373;
  display: block;
}